body {
	font-size:16px;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#020F1A;
  font-family: 'Montserrat', sans-serif;
}


.navbar-main {
  height: 80px;
  position: absolute;
  width: 100%;
  background-color: transparent;
  border-radius: 0px;
  top: 0px;
  left: 0px;
  margin-bottom: 0px;
  border: 0px;
}
.navbar-logo {
  position: absolute;
  top: 50%;
  bottom: auto;
  display: block;
  transform: translateY(-50%);
}
.navbar-logo a img {
  height: 50px;
}

.navbar-menu {
	float:right;
}

.navbar-menu ul li {
	display:inline;
	line-height:80px;
	color:white;
}

.navbar-menu a {
	color:white;
  padding: 30px 25px;
}

.navbar-menu a:hover {
	text-decoration:none;
	color:#2BB86C;
}

.navbar-menu a:focus{
	text-decoration:none;
}
